
a {
    text-decoration: none;
}
    
a:visited {
    text-decoration: none;
}

.Links_to_internal_pages {
    text-align: center;
    margin: 30px 0px;
    padding: 20px 50px 40px 50px;  
    width: 80%;
    height: 10%;
}

.one, .two, .three, .four, .five, .six, .seven {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    color:#f4f0d9;
    padding: 20px 50px 50px 50px;  
    
}


body {
    background: #4461ac;
    opacity: 1;
    position: relative;
}

.home {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    color:white;
    font-weight: bold;
    width: 90%;
    height: 70%;
    text-align: left;
    margin: 0 auto;
    padding: 50px 100px;
    background-image: url(https://live.staticflickr.com/65535/50015690987_0119ac416a_b.jpg);
    background-size: 100%;

}


.home h3 { 
    text-transform: uppercase;
    font-size: 42px;

}

.home p {
    font-size: 24px;
    line-height: 42px;
}

.About {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;   
    background-color: blue;
    margin: 100px auto;
    padding: 30px;
    width: 85%;
    height: 1000px;  
}

.About h2{
    color:#f4f0d9;
    text-align: center;
    font-size: 52px;
    text-transform: uppercase;
}

.About ul {
    color:#f4f0d9;
    font-size: 42px;
}

.Our_Event {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;   
    background-color: rgb(255, 0, 179);
    margin: 100px auto;
    padding: 30px;
    width: 85%;
    height: 1000px;  
}

.Our_Event h2{
    color:#f4f0d9;
    text-align: center;
    font-size: 52px;
    text-transform: uppercase;
}

.People {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;   
    background-color: green;
    margin: 100px auto;
    padding: 30px;
    width: 85%;
    height: 1000px;  
}

.People h2{
    color:#f4f0d9;
    text-align: center;
    font-size: 52px;
    text-transform: uppercase;
}

.News {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;   
    background-color: rebeccapurple;
    margin: 100px auto;
    padding: 30px;
    width: 85%;
    height: 1000px;  
}

.News h2{
    color:#f4f0d9;
    text-align: center;
    font-size: 52px;
    text-transform: uppercase;
}

.News h4{
    color:#f4f0d9;
    font-size: 42px;
}

.Contact {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;   
    background-color: orange;
    margin: 100px auto;
    padding: 30px;
    width: 85%;
    height: 1000px;  
}

.Contact h2{
    color:#f4f0d9;
    text-align: center;
    font-size: 52px;
    text-transform: uppercase;
}

.Contact form{
    color:#f4f0d9;
    font-size: 42px;
    text-align: center;
}

.Sponsors {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;   
    background-color: orange;
    margin: 100px auto;
    padding: 30px;
    width: 85%;
    height: 1000px;  
}

