
a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

body {
    background-color: #0C486A;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    margin: 0 auto;
    width: 85%;
    color: FFFFF8;
    font-family: 'NTR', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.divider_line {
    color: FFFFF8;
    width: 100%;
}

.Links_to_internal_pages {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    text-align: center;
}

.logo, .one, .two, .three, .four, .five {
    flex: 1;
    font-size: 1.5rem;
    
}

.Home_heading {
    text-align: center;
    font-size: 4rem; 
}

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contain-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45%;
    background-color: #2C8EA4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contain-1:hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 105%;
    height: 50%;
    background-color: #2C8EA4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-1 {
    flex: 1;
    font-size: 1.5rem;
    padding: 2% 2% 2% 2%;
}

.box-2 {
    flex: 1.4;
}

.contain-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 45%;
    background-color: #2C8EA4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contain-2:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105%;
    height: 50%;
    background-color: #2C8EA4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-3 {
    flex: 1.1;
}

.box-4 {
    flex: 1;
    font-size: 1.5rem;
    padding: 2% 2% 2% 2%;
}

.contain-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45%;
    background-color: #2C8EA4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contain-3:hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 105%;
    height: 50%;
    background-color: #2C8EA4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-5 {
    flex: 1;
    font-size: 1.5rem;
    padding: 2% 2% 2% 2%;
}

.box-6 {
    flex: 1.2;
}

.contain-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 45%;
    background-color: #2C8EA4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contain-4:hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 105%;
    height: 50%;
    background-color: #2C8EA4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-7 {
    flex: 1;
}

.box-8 {
    flex: 1;
    font-size: 1.5rem;
    padding: 2% 2% 2% 2%;
}

.Our_Event {
    flex:1;
    background-color: FFFFF8;
    margin: 10% 0% 5% 0%;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Our_Event_heading_1 {
    text-align: center;
    font-size: 2rem;
    margin: 2% 0% 2% 0%;
}

.event_pics {
    display: flex;
}

.event_pic_1, .event_pic_2, .event_pic_3 {
    flex: 1;
    width: 20%;
    height: 30%;
}

.Our_event_content {
    text-align: center;
    font-size: 1.5rem;
    margin: 5% 0% 2% 0%;
}

.Panelists {
    display: flex;
    align-items: center;
}

.Our_Event_heading_2 {
    text-align: center;
    font-size: 2rem;
}

.Our_Event_heading_2, .panelist_pic_1, .panelist_pic_2, .panelist_pic_3 {
    flex: 1;
    height: 27%;
    text-align: center;
}

.Contact {
    text-align: center;
    background-color: #2C8EA4;
    font-size: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.News {
    text-align: center;
    background-color: #2C8EA4;
    font-size: 2rem;
    margin-top: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.People {
    flex:1;
    background-color: FFFFF8;
    margin: 10% 0%;
    color: black;
    padding: 1% 5% 5% 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.People img {
    border: 10px #C4C4C4 solid;
}

.People_heading_2 {
    text-align: center;
    font-size: 2rem;
    margin: 3% 0% 2% 0%;
}

.members_pics_1 {
    display: flex;
}

.members_pics_2 {
    display: flex;
}

.member_1, .member_2, .member_3 {
    flex: 1;
    width: 25%;
    height: 32%;
    text-align: center;
}

.member_4, .member_5, .member_6 {
    flex: 1;
    width: 20%;
    height: 32%;
    text-align: center;
}

.fb {
    display: flex;
    flex-direction: column;
}

.ig {
    background-color: transparent;
}


input[type=text], input[type=submit] {
    width: 50%;
    padding: 1%;
    margin: 1% 0%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    padding: 1%;
    margin: 1% 0%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.member_pics_new {
    font-size: 0.75rem;
    padding: 2% 2% 2% 2%;
    background-color: #2C8EA4;
    color: #FFFFF8;
}

.Affiliations {
    background-color: #ccc;
    margin: 10% 0% 10% 0%;
    padding-bottom: 5%;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Affiliations_heading {
    flex: 1;
    text-align: center;
    font-size: 3rem;
}

.three_images_1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.pic_1, .pic_2, .pic_3, .pic_4, .pic_5, .pic_6 {
    margin: 1%;
}


.pic_1 {
    height: 20%;
    order: 3;
    width: 40%;
}

.pic_2 {
    height: 25%;
    width: 20%;
    order: 2;
}

.pic_3 {
    height: 25%;
    width: 20%;
    order: 1;
}

.three_images_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic_4 {
    height: 20%;
    width: 40%;
}

.pic_5 {
    height: 25%;
    width: 20%;
}

.pic_6 {
    height: 20%;
    width: 10%;
}